{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'dblog/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'dblog/bootstrap.min.css' %}"/>

<h1 class="page_title"> {{blog.title}} </h1>
<div class="content">
{% for article in article_list %}
	{% if blog.authorID == article.authorID %}
    <h2 class="article_title alert alert-info">{{ article.title }}</h2>
    <div class="article_subtitle lead">{{ article.subtitle }}</div>
    <div class="article_body">{{ article.body }}</div>
	{% endif %}
{% endfor %}
</div>