<h3>User: {{ author.authorID }}</h3>
<h4>My Blogs</h4>
<ul>
{% for blog in blog_list %}
	{% if blog.authorID == author %}
    <li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
	{% endif %}
{% endfor %}
</ul>

<h4>My Favorite Links</h4>
<ul>
{% for favoritelink in links %}
	{% if favoritelink.authorID == author %}
    <li>{{ favoriteLink.authorID }}</li>
	{% endif %}
{% endfor %}

</ul>

<h4>About Me</h4>
<p>
{% for bio in bio_list %}
	{% if bio.authorID == author %}
    	{{ bio.body }}
	{% endif %}
{% endfor %}
</p>
